@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.nav {
    display: flex;
    background-color: dimgray;
    height: 50px;
    width: 100%;
}

.nav .heading {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    margin-left: 50px;
}


.nav h1 {
    font-family: sans-serif;
    color: white;
    font-size: 75%;
    font-size: medium;
}

.nav h2 {

    color: white;
    font-family: sans-serif;
    font-size: 0.8rem;
    align-items: right;
    margin-left: 305px;
    margin-top: 10px;
}

.nav h2 p {
    color: rgb(245, 245, 245);
    font-family: sans-serif;
    font-size: 0.8rem;
}

.nav .logo {
    height: 50%;
    color: white;


}


.nav .search-box {
    display: flex;
    align-items: center;
    height: 35px;
    background-color: gray;
    width: 13%;
    margin-bottom: 10px;
    margin-top: 10px;
    margin-left: 450px;
}

.nav .texttype {
    height: 100%;
    width: 100%;
    padding: 0px 15px;
    border: 1px solid black;
    font-size: 0.9rem;
    font-family: sans-serif;
    outline: none;
}

.main-container {
    width: 100%;
    min-height: 100%;
    height: auto;
    display: flex;
    align-items: flex-start;
    background-color: white;

}

.left-container {
    width: 20%;
    height: 100%;

}

.left-container ul {
    list-style: none;
}

.left-container ul li {
    font-size: 0.8rem;
    font-family: sans-serif;
    color: black;
    text-align: left;
    margin-left: 20px;
    margin-top: 15px;
}

.left-container h3 {
    font-family: sans-serif;
    font-size: 1rem;
    color: #555;
    text-align: left;
    margin-left: 20px;
    margin-top: 50px;


}

.middle-container {
    width: 60%;
    height: 100%;
}

.middle-container .banner {
    width: 100%;
    height: 50px;
    margin-top: 25px;
    background-image: url("img/banner.png");
    background-position: center;
    background-size: cover;
}

.middle-container h3 {
    font-size: 2rem;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    align-content: center;
    justify-content: center;
    padding: 10px 400px;

}

.middle-container .box2 {
    width: 100%;
    height: 45px;
    background-color: white;
    margin-top: 15px;
}

.middle-container h1 {
    font-weight: 100;
    font-family: monospace;
    color: #555;
}

.middle-container p {
    margin-top: 30px;

}

.middle-container .box3 .content1 {
    width: 100%;
    height: 25px;
    background-color: rgba(4, 242, 250, 0.966);
    margin-top: 120px;
}

.middle-container .box3 .content1 h4 {
    display: inline;
    padding: 3px;
}

.middle-container .box3 .content2 p {
    padding: 2px 2px;
}

b {
    color: blue;
    font-weight: normal;
}

.middle-container .box4 h4 {
    margin-top: 50px;
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
    color: #555;
    font-weight: lighter;
}

table,
th,
td {

    margin-top: 40px;
}

th {
    background-color: #555;
    padding: 3px 5px;
    color: white;
}

td {
    padding: 2px 4px;
}

.middle-container .box3 {
    border-width: 0px 0px 0px 5px;
    border-style: solid;
    border-color: rgba(0, 191, 255, 0.801);
}

.middle-container .box5 {
    border-width: 0px 0px 0px 5px;
    border-style: solid;
    border-color: rgb(245, 97, 28);
}

.middle-container .box5 .content1 {
    background-color: rgb(255, 160, 122);
    width: 100%;
    height: 40px;
    margin-top: 30px;
}

.middle-container .box5 .content1 h3 {
    font-size: 20px;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    color: black;
    padding: 5px 80px;
}


.middle-container .box6 h4 {
    font-size: large;
    font-family: sans-serif;
    background-color: white;
    color: #555;
    margin-top: 20px;
}

.middle-container .box7 h2 {
    font-size: large;
    font-family: sans-serif;
    background-color: white;
    color: #555;
    margin-top: 25px;
}


.right-container {
    width: 20%;
    height: 100%;
}

.right-container ul {
    list-style: none;
}

.right-container ul li {

    font-size: 0.8rem;
    font-family: sans-serif;
    color: black;
    text-align: left;
    margin-left: 20px;
    margin-top: 15px;
}

.right-container h3 {
    font-family: sans-serif;
    font-size: 1rem;
    color: #555;
    text-align: left;
    margin-left: 20px;
    margin-top: 50px;
}

.footer {
    background-color: black;
    width: 100%;
    height: 50px;
    margin-top: 50px;
}

.footer h2 {
    color: white;
    font-size: 10px;
    padding: 10px 100px;

}